@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
ul,li{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
button{
  background: transparent;
  cursor: pointer;
  border: none;
}
.btn-clear{
  background: #E56ED2;
  width: 100%;
  color: #fff;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 30px;
}
